{{#partial "content"}}

{{#if editApplicant}}
    <h1>Edit Applicant</h1>

    <form action="/applicant/{{editApplicant.id}}/update" method="post">
        <div class="row">
            <div class="col-md-6">
                <label>Name</label>
                <input id="fullNameUpdate" name="fullNameUpdate" class="form-control input-sm" type="text" value="{{editApplicant.fullName}}">
            </div>
            <div class="col-md-6">
                <label>Email</label>
                <input id="emailUpdate" name="emailUpdate" class="form-control input-sm" type="text" value="{{editApplicant.email}}">
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <label>Phone</label>
                <input id="phoneUpdate" name="phoneUpdate" class="form-control input-sm" type="text" value="{{editApplicant.phone}}">
            </div>
            <div class="col-md-4">
                <label>Addres</label>
                <input id="addresUpdate" name="addresUpdate" class="form-control input-sm" type="text" value="{{editApplicant.addres}}">
            </div>
            <div class="col-md-4">
                <label>Education</label>
                <input id="educationUpdate" name="educationUpdate" class="form-control input-sm" type="text" value="{{editApplicant.education}}">
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <label>Description</label>
                <textarea id="descriptionUpdate" name="descriptionUpdate" class="form-control input-sm" value="{{editApplicant.description}}"></textarea>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <button type="submit" class="btn btn-success">Add</button>
            </div>

        </div>
    </form>
{{else}}
    <h1>Applicant Register</h1>

    <form action="/applicant/new" method="post">
        <div class="row">
            <div class="col-md-6">
                <label>Name</label>
                <input id="fullName" name="fullName" class="form-control input-sm" type="text">
            </div>
            <div class="col-md-6">
                <label>Email</label>
                <input id="email" name="email" class="form-control input-sm" type="text">
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <label>Phone</label>
                <input id="phone" name="phone" class="form-control input-sm" type="text">
            </div>
            <div class="col-md-4">
                <label>Addres</label>
                <input id="addres" name="addres" class="form-control input-sm" type="text">
            </div>
            <div class="col-md-4">
                <label>Education</label>
                <input id="education" name="education" class="form-control input-sm" type="text">
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <label>Description</label>
                <textarea id="description" name="description" class="form-control input-sm"></textarea>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <button type="submit" class="btn btn-success">Add</button>
            </div>

        </div>
    </form>
{{/if}}


{{/partial}}

{{> layout.hbs}}